version: "3.8"

services:
  server:
    build: ./backend
    container_name: bun_backend
    ports:
      - "6989:6989"
    environment:
      MINIO_ENDPOINT: ${MINIO_ENDPOINT}
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      WEATHER_API_KEY: ${WEATHER_API_KEY}
      NEWS_API_KEY: ${NEWS_API_KEY}
      LOGO_API_KEY: ${LOGO_API_KEY}
      CALDAV_URL: http://173.73.175.116:5232
      CALDAV_USER: ${CALDAV_USER}
      CALDAV_PASS: ${CALDAV_PASS}
    volumes:
      - ./backend:/app
    tty: true
    stdin_open: true
